{% extends 'Home/base.html' %}
{% load static %}

{% block content %}
<div class="card-container">
    
    {% for cat in categories %}
    <div class="card">
        <img src="{{cat.image.url}}" alt="{{ cat.name }} Image">
        <h2>{{ cat.name }}</h2>
        <h5>Category: {{ gun.category }}</h5>
        <p>{{cat.description}}</p>
        
        <a href="{% url 'category_detail' category=cat.name %}" class="btn">Show Guns Category</a>
        {% comment %} 
        <a href="{% url 'edit_gun' id=gun.id %}" class="btn bg-warning">Edit</a>
        <a href="{% url 'delete' id=gun.id %}" class="btn bg-danger">Delete</a> {% endcomment %}
    </div>
    {% endfor %}
</div>
{% endblock %}
