{% extends 'Home/base.html' %}
{% load static %}

{% block search %}
    <div class="navbar-right ml-auto d-flex justify-content-center">
        <form action="{% url 'search' %}" method="GET">
            <div class="row">
                <div class="col-md-6">
                    <input type="text" name="query" class="form-control form-control-lg" placeholder="Search...">
                </div>
                <div class="col-md-6">
                    <button class="btn btn-primary" type="submit">Search</button>
                </div>
            </div>
        </form>
    </div>
    {% endblock %}
{% block content %}
<div class="card-container">
    
    {% for gun in guns %}
    <div class="card">
        <img src="{{gun.image.url}}" alt="{{ gun.name }} Image">
        <h2>{{ gun.name }}</h2>
        <h5>Category: {{ gun.category }}</h5>
        <p>omar elsayed abdelnasser-computer science 2021-ITI-Python Track MVT</p>
        <a href="{% url 'detail' id=gun.id %}" class="btn">View Details</a>
        <a href="{% url 'edit_gun' id=gun.id %}" class="btn bg-warning">Edit</a>
        <a href="{% url 'delete' id=gun.id %}" class="btn bg-danger">Delete</a>
    </div>
    {% endfor %}
</div>
{% endblock %}
