{% extends 'Home/base.html' %}
{% load static %}

{% block content %}
<div class="card-container">
    {% for gun in guns %}
    <div class="card">
        <img src="{% static 'Home/images/'|add:gun.image %}" alt="{{ gun.name }} Image">
        <h2>{{ gun.name }}</h2>
        <p>omar elsayed abdelnasser-computer science 2021-ITI-Python Track MVT</p>
        <a href="{% url 'detail' id=gun.id %}" class="btn">View Details</a>
        <a href="{% url 'edit_gun' id=gun.id %}" class="btn bg-warning">Edit</a>
        <a href="{% url 'delete' id=gun.id %}" class="btn bg-danger">Delete</a>
    </div>
    {% endfor %}
</div>
{% endblock %}
